:root {
  --default-color: #333;
  --default-gradient: linear-gradient(45deg, gray, #333);

  --warning-color: #fd6266;
  --warning-gradient: linear-gradient(45deg, #fd916a, #fd6266);

  --danger-color: #d00269;
  --danger-gradient: linear-gradient(45deg, #f44f60, #d00269);

  --success-color: #30cc71;
  --success-gradient: linear-gradient(45deg, #6eecce, #30cc71);
}
